<html>
  <head>
    <title>About Us</title>
    <link href="../static/about.css" rel="stylesheet">
  </head>
  <header>
    <a href= '/'><img src="../static/title.png" alt="Logo Pic"></a></br>
    <a id="about" href= '/about'>About</a>
    <a href= '/custom'>My Closet</a>
    <a href= '/outfit'>My Outfits</a>
    <a href= '/upload'>Upload</a>
    <a href= '/calendar'>Reminders</a>
  </header>
  <body>
    <section>
      <h1><strong>About Us</strong></h1>
      <div class="column">
        <h2>Miguel Lopez</h2>
        <img src="../static/miguel.jpg" alt="Miguel Headshot">
        <p>Born in Mexico, but now California Resident for 13 years. Miguel is now going to CSULA(CALSTATELA) in the Fall. </p>
      </div>
      <div class="column">
        <h2>Claudia Wu</h2>
        <p></p>
      </div>
      <div class="column">
        <h2>Michelle Xie</h2>
        <img src="../static/mx_head.jpg" alt="Michelle Headshot">
        <p>Born and raised in California, Michelle plans on freezing at Harvard University for the next four years.</p>
      </div>
    </section>
  </body>
</html>
