
<html>
  <head>
    <title>Calendar/Reminders</title>
    <link href="../static/calendar.css" rel="stylesheet">
    <link href="../static.calendar.js">
  </head>
  <header>
    <a href= '/'><img src="../static/title.png" alt="Logo Pic"></a></br>
    <a id="about" href= '/about'>About</a>
    <a href= '/custom'>My Closet</a>
    <a href= '/outfit'>My Outfits</a>
    <a href= '/upload'>Upload</a>
  </header>
  <body>
    <form action="" method="post">
      <h1>Want a notif?</h1>
      <div id="enter">
        Enter your phone number:
        <p>(must be a valid ten digit number without any letters)</p>
        <p>Choose your carrier :</p>
              <button><a href="mailto:('yournumber')@att.net?subject=Closet Shelfie Reminder&body=Remember your outfit in Closet Shelfie! http://closet-shelfie.appspot.com/home">AT&T</a></button>
              <button><a href="mailto:('yournumber')@vtext.com?subject=Closet Shelfie Reminder&body=Remember your outfit in Closet Shelfie! http://closet-shelfie.appspot.com/home">Verizon</a></button>
              <button><a href="mailto:('yournumber')@tmomail.net?subject=Closet Shelfie Reminder&body=Remember your outfit in Closet Shelfie! http://closet-shelfie.appspot.com/home">T-Mobile</a></button>
              <button><a href="mailto:('yournumber')@messaging.sprintpcs.com?subject=Closet Shelfie Reminder&body=Remember your outfit in Closet Shelfie! http://closet-shelfie.appspot.com/home">Sprint PCS</a></button>
              <button><a href="mailto:('yournumber')@vmobl.com?subject=Closet Shelfie Reminder&body=Remember your outfit in Closet Shelfie! http://closet-shelfie.appspot.com/home">Virgin Mobile</a></button>
              <button><a href="mailto:('yournumber')@email.uscc.net?subject=Closet Shelfie Reminder&body=Remember your outfit in Closet Shelfie! http://closet-shelfie.appspot.com/home">US Cellular</a></button>
              <button><a href="mailto:('yournumber')@messaging.nextel.com?subject=Closet Shelfie Reminder&body=Remember your outfit in Closet Shelfie! http://closet-shelfie.appspot.com/home">Nextel</a></button>
              <button><a href="mailto:('yournumber')@myboostmobile.com?subject=Closet Shelfie Reminder&body=Remember your outfit in Closet Shelfie! http://closet-shelfie.appspot.com/home">Boost</a></button>
              <button><a href="mailto:('yournumber')@message.alltel.com?subject=Closet Shelfie Reminder&body=Remember your outfit in Closet Shelfie! http://closet-shelfie.appspot.com/home">Alltel</a></button>
        </div>
      </div>
        <div><p>or</p>
            <a id="email" href="mailto:{{user}}?subject=Closet Shelfie Reminder&body=Remember your outfit in Closet Shelfie! http://closet-shelfie.appspot.com/home">Email me!</a>
        </div>
     <script src="https://ajax.googleapis.com?subject=ClosetShelfie/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </body>
</html>
