<html>
  <head>
    <title>My Closet</title>
  </head>
    <link href="static/customize.css" rel="stylesheet" />
  <body>
    <header>
      <a href= '/'><img src="static/title.png" alt="Logo Pic"></a></br>
      <a id="about" href= '/about'>About</a>
      <a href= '/custom'>My Closet</a>
      <a href= '/outfit'>My Outfits</a>
      <a href= '/upload'>Upload</a>
      <a href= '/calendar'>Reminders</a>
    </header>

    <div id="right">
      <section>
        {% if outfit %}
          <h4>Edit Outfit</h4>
        {% else %}
          <h4 class="my_closet">My Closet</h4>
        {% endif %}
        <p class="tops">Tops</p>
        <form
          {% if outfit %}
            action="/custom?outfit={{outfit.key.urlsafe()}}"
          {% else %}
            action="/custom"
          {% endif %}
          method="post">

          <ul class="pagination">
            {% for top in tops %}
              <div>
                {% if outfit and top.key in outfit.clothes_key %}
                  <input id="checked" type="checkbox" name="checked{{top.key.urlsafe()}}" checked/>
                {% else %}
                  <input id="checked" type="checkbox" name="checked{{top.key.urlsafe()}}"/>
                {% endif %}
                <img id="top" src="/images?key={{top.key.urlsafe()}}" />
                <button><a href="/delete?item={{top.key.urlsafe()}}">Delete</button>
              </div>
            {% endfor %}
          </ul>

          <p class="outerwear">Outerwear</p>
            {% for outer in outerwear %}
            <div>
              {% if outfit and outer.key in outfit.clothes_key %}
                <input id="checked" type="checkbox" name="checked{{outer.key.urlsafe()}}" checked/>
              {% else %}
                <input id="checked" type="checkbox" name="checked{{outer.key.urlsafe()}}"/>
              {% endif %}
                <img src="/images?key={{outer.key.urlsafe()}}" />
                <button><a href="/delete?item={{outer.key.urlsafe()}}">Delete</button>
            </div>
            {% endfor %}
          <p class="bottoms">Bottoms</p>
            {% for bottom in bottoms %}
            <div>
              {% if outfit and bottom.key in outfit.clothes_key %}
                <input id="checked" type="checkbox" name="checked{{bottom.key.urlsafe()}}" checked/>
              {% else %}
                <input id="checked" type="checkbox" name="checked{{bottom.key.urlsafe()}}"/>
              {% endif %}
              <img src="/images?key={{bottom.key.urlsafe()}}" />
              <button><a href="/delete?item={{bottom.key.urlsafe()}}">Delete</button>
            </div>
            {% endfor %}
          <p class="accessory">Accessories</p>
            {% for access in accessory %}
            <div>
              {% if outfit and access.key in outfit.clothes_key %}
                <input id="checked" type="checkbox" name="checked{{access.key.urlsafe()}}" checked/>
              {% else %}
                <input id="checked" type="checkbox" name="checked{{access.key.urlsafe()}}"/>
              {% endif %}
              <img src="/images?key={{access.key.urlsafe()}}" />
              <button><a href="/delete?item={{access.key.urlsafe()}}">Delete</button>
            </div>
            {% endfor %}
          <p class="shoes">Shoes</p>
            {% for shoe in shoes %}
              <div>
                {% if outfit and shoe.key in outfit.clothes_key %}
                  <input id="checked" type="checkbox" name="checked{{shoe.key.urlsafe()}}" checked/>
                {% else %}
                  <input id="checked" type="checkbox" name="checked{{shoe.key.urlsafe()}}"/>
                {% endif %}
                <img src="/images?key={{shoe.key.urlsafe()}}" />
                <button><a href="/delete?item={{shoe.key.urlsafe()}}">Delete</button>
              </div>
            {% endfor %}</br>
          <button type="submit" id="submit" value= "Save Outfit"><strong>Save Outfit</strong></button>
        </form>
      </section>

  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="static/customize.js"></script>
</hmtl>
