<html>
  <head>
    <title>My Closet</title>
  </head>
    <link href="../static/customize.css" rel="stylesheet" />
  <body>
    <header>
      <a href= '/'><img src="../static/title.png" alt="Logo Pic"></a></br>
      <a id="about" href= '/about'>About</a>
      <a href= '/custom'>My Closet</a>
      <a href= '/outfit'>My Outfits</a>
      <a href= '/upload'>Upload</a>
      <a href= '/calendar'>Reminders</a>
    </header>

    <div id="right">
      <section>
        <h4 class="my_closet">My Closet</h4>
        <p class="tops">Tops</p>
        <form action="" method="post">
            <a class="paging back" href="#back">Back</a>
            {% for top in tops %}
              <input id="checked" type="checkbox" name="checked{{top.key.urlsafe()}}"/>
              <img src="/images?key={{top.key.urlsafe()}}" />
            {% endfor %}
            <a class="paging next" href="#next">Next</a>
          <p class="outerwear">Outerwear</p>
            {% for outer in outerwear %}
                <input type="checkbox" name="checked{{outer.key.urlsafe()}}"/>
                <img src="/images?key={{outer.key.urlsafe()}}" />
            {% endfor %}
          <p class="bottoms">Bottoms</p>
            {% for bottom in bottoms %}
              <input type="checkbox" name="checked{{bottom.key.urlsafe()}}"/>
              <img src="/images?key={{bottom.key.urlsafe()}}" />
            {% endfor %}
          <p class="accessory">Accessories</p>
            {% for access in accessory %}
              <input type="checkbox" name="checked{{access.key.urlsafe()}}"/>
              <img src="/images?key={{access.key.urlsafe()}}" />
            {% endfor %}
          <p class="shoes">Shoes</p>
            {% for shoe in shoes %}
                <input type="checkbox" name="checked{{shoe.key.urlsafe()}}"/>
                <img src="/images?key={{shoe.key.urlsafe()}}" />
            {% endfor %}</br>
          <button type="submit" id="submit" value= "Save Outfit"><strong>Save Outfit</strong></button>
        </form>
      </section>
    <div>

  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</hmtl>
