<html>
  <head>
    <title>My Closet</title>
  </head>
    <link href="static/customize.css" rel="stylesheet" />

    <header>
      <a href= '/'><img src="static/title.png" alt="Logo Pic"></a></br>
      <a id="about" href= '/about'>About</a>
      <a href= '/custom'>My Closet</a>
      <a href= '/outfit'>My Outfits</a>
      <a href= '/upload'>Upload</a>
      <a href= '/calendar'>Reminders</a>
    </header>
  <body>
    <div id="right">
      <section>
        {% if outfit %}
          <h4>Edit Outfit</h4>
        {% else %}
          <h4 class="my_closet">My Closet</h4>
        {% endif %}

        <form
          {% if outfit %}
            action="/custom?outfit={{outfit.key.urlsafe()}}"
          {% else %}
            action="/custom"
          {% endif %}
          method="post">
          <div><a href="#tops">Tops</a></div>
          <div><a href="#bottoms">Bottoms</a></div>
          <div><a href="#outerwear">Outerwear</a></div>
          <div><a href="#accessory">Accessories</a></div>
          <div><a href="#shoes">Shoes</a></div>
          <a href="/custom?randomized=True">Randomizer</a>
          Filter by color: <select class="filterby" name='color' id="color">
              <option value="All">All</option>
              <option value="Red">Red</option>
              <option value="Orange">Orange</option>
              <option value="Yellow">Yellow</option>
              <option value="Green">Green</option>
              <option value="Blue">Blue</option>
              <option value="Purple">Purple</option>
              <option value="Silver">Silver</option>
              <option value="Gold">Gold</option>
              <option value="Gray">Gray</option>
              <option value="White">White</option>
              <option value="Black">Black</option>
              <option value="Other">Other</option>
            </select>
          <a name="tops"><p class="tops">Tops</p></a>
            {% for top in tops %}
              <div class="All {{top.color}}">
                {% if outfit and top.key in outfit.clothes_key %}
                  <input id="checked" type="checkbox" name="checked{{top.key.urlsafe()}}" checked/>
                {% elif random_button and top.key == random_top.key %}
                  <input id="checked" type="checkbox" name="checked{{top.key.urlsafe()}}" checked/>
                {% else %}
                  <input id="checked" type="checkbox" name="checked{{top.key.urlsafe()}}"/>
                {% endif %}
                <img id="top" src="/images?key={{top.key.urlsafe()}}" />
                <button id="delete"><a href="/delete?item={{top.key.urlsafe()}}">Delete</a></button>
              </div>
            {% endfor %}
            <p></p>
          <a name="outerwear"><p class="outerwear">Outerwear</p></a>
            {% for outer in outerwear %}
            <div class="All {{outer.color}}">
              {% if outfit and outer.key in outfit.clothes_key %}
                <input type="checkbox" name="checked{{outer.key.urlsafe()}}" checked/>
              {% elif random_button and outer.key == random_outer.key %}
                <input type="checkbox" name="checked{{outer.key.urlsafe()}}" checked/>
              {% else %}
                <input type="checkbox" name="checked{{outer.key.urlsafe()}}"/>
              {% endif %}
                <img src="/images?key={{outer.key.urlsafe()}}" />
                <button><a href="/delete?item={{outer.key.urlsafe()}}">Delete</a></button>
            </div>
            {% endfor %}
            <p></p>

          <a name="bottoms"><p class="bottoms">Bottoms</p></a>
            {% for bottom in bottoms %}
            <div class="All {{bottom.color}}">
              {% if outfit and bottom.key in outfit.clothes_key %}
                <input type="checkbox" name="checked{{bottom.key.urlsafe()}}" checked/>
              {% elif random_button and bottom.key == random_bottom.key %}
                  <input type="checkbox" name="checked{{bottom.key.urlsafe()}}" checked/>
              {% else %}
                <input type="checkbox" name="checked{{bottom.key.urlsafe()}}"/>
              {% endif %}
              <img src="/images?key={{bottom.key.urlsafe()}}" />
              <button><a href="/delete?item={{bottom.key.urlsafe()}}">Delete</a></button>
            </div>
            {% endfor %}
            <p></p>
          <a name="accessory"><p class="accessory">Accessories</p></a>
            {% for access in accessory %}
            <div class="All {{access.color}}">
              {% if outfit and access.key in outfit.clothes_key %}
                <input type="checkbox" name="checked{{access.key.urlsafe()}}" checked/>
              {% elif random_button and access.key == random_accessory.key %}
                <input type="checkbox" name="checked{{access.key.urlsafe()}}" checked/>
              {% else %}
                <input type="checkbox" name="checked{{access.key.urlsafe()}}"/>
              {% endif %}
              <img src="/images?key={{access.key.urlsafe()}}" />
              <button><a href="/delete?item={{access.key.urlsafe()}}">Delete</a></button>
            </div>
            {% endfor %}
            <p></p>
          <a name="shoes"><p class="shoes">Shoes</p></a>
            {% for shoe in shoes %}
              <div class="All {{shoe.color}}">
                {% if outfit and shoe.key in outfit.clothes_key %}
                  <input type="checkbox" name="checked{{shoe.key.urlsafe()}}" checked/>
                {% elif random_button and shoe.key == random_shoe.key %}
                  <input type="checkbox" name="checked{{shoe.key.urlsafe()}}" checked/>
                {% else %}
                  <input type="checkbox" name="checked{{shoe.key.urlsafe()}}"/>
                {% endif %}
                <img src="/images?key={{shoe.key.urlsafe()}}" />
                <button><a href="/delete?item={{shoe.key.urlsafe()}}">Delete</a></button>
              </div>
            {% endfor %}
          <p><button type="submit" id="submit" value= "Save Outfit"><strong>Save Outfit</strong></button></p>
        </form>
      </section>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
      <script src="static/customize.js"></script>
  </body>
</hmtl>

<!-- ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js -->
