<!DOCTYPE html>
<html>
<head>
  <title>Closet Shelfie</title>
  <link href="../static/home.css" rel="stylesheet">
</head>
<header>
  <a href= '/'><img src="../static/title.png" alt="Logo Pic"></a></br>
</header>

  <a id="about" href= '/about'>About</a>
  <a href= '/closet'>My Closet</a>
  <a href= '/outfit'>My Outfits</a>
  <a href= '/upload'>Upload</a>
  <a href= '/calendar'>Reminders</a>

<body id="home">
{% if user %}
        Welcome to Closet Shelfie, {{user.nickname()}}!
{% endif %}
</body>
</html>
