<!DOCTYPE html>
<html>
<head>
  <title>Closet Shelfie</title>
  <link href="static/home.css" rel="stylesheet">
</head>
<header>
  <a href= '/'><img src="static/title.png" alt="Logo Pic"></a></br>
</header>

<body id="home">
{% if user %}
        Welcome to Closet Shelfie, {{user.nickname()}}!
{% endif %}</br>
<a href='/about'><button type="button" id="about">About</button></a>
<a href='/custom'><button type="button" id="closet">My Closet</button></a>
<a href='/outift'><button type="button" id="outfit">My Outfits</button></a>
<a href='/upload'><button type="button" id="upload">Upload</button></a>
<a href='/calendar'><button type="button" id="cal">Reminders</button></a>
</body>
</html>
