<html>
  <head>
    <title>My Outfits</title>
  </head>
    <link href="../static/outfit.css" rel="stylesheet" />
  <body>
      <div id="info">
        <header>
          <a href= '/'><img src="../static/title.png" alt="Logo Pic"></a></br>
          <a id="about" href= '/about'>About</a>
          <a href= '/custom'>My Closet</a>
          <a href= '/outfit'>My Outfits</a>
          <a href= '/upload'>Upload</a>
          <a href= '/calendar'>Reminders</a>
        </header>
      </div>
    <h1><strong><a href= '/outfit'>Edit</strong></h1></a>
    {% for outfit in user_outfits %}
      <img src="images?key={{outfit.key.urlsafe()}}"">
    {% endfor %}
  </body>
</html>
