<html>
  <head>
    <title>My Outfits</title>
    <link href="../static/outfit.css" rel="stylesheet" />
  </head>
  <header>
    <a href= '/'><img src="../static/title.png" alt="Logo Pic"></a></br>
    <a id="about" href= '/about'>About</a>
    <a href= '/custom'>My Closet</a>
    <a href= '/outfit'>My Outfits</a>
    <a href= '/upload'>Upload</a>
    <a href= '/calendar'>Reminders</a>
  </header>
  <body>
    <section id="outfit">
      <form method="post" action="">
      {% for outfit_key in outfit_to_clothes %}
        <div class="column">
          <a href= '/outfit?edit={{outfit_key.urlsafe()}}'>Edit</a>
          {% for x in outfit_to_clothes[outfit_key]| sort(attribute='part')%}
            <img src="/images?key={{x.key.urlsafe()}}">
          {% endfor %}
        </div>
      {% endfor %}
      </form>
    </section>
  </body>
</html>
