<html>
  <head>
    <title>Upload Pictures</title>
    <link href="static/upload.css" rel="stylesheet">
  </head>
  <header>
    <a href= '/'><img src="static/title.png" alt="Logo Pic"></a></br>
    <a id="about" href= '/about'>About</a>
    <a href= '/custom'>My Closet</a>
    <a href= '/outfit'>My Outfits</a>
    <a href= '/upload'>Upload</a>

  </header>
  <body>
    <form name = "input" action = "/upload" method = "post" enctype="multipart/form-data">
      <div>Name: <input type = "text" name = "name"></div>
    <div>Color: <select name='color'>
        <option value="Red">Red</option>
        <option value="Orange">Orange</option>
        <option value="Yellow">Yellow</option>
        <option value="Green">Green</option>
        <option value="Blue">Blue</option>
        <option value="Purple">Purple</option>
        <option value="Silver">Silver</option>
        <option value="Gold">Gold</option>
        <option value="Gray">Gray</option>
        <option value="White">White</option>
        <option value="Black">Black</option>
        <option value="Other">Other</option>
      </select></div>
      <div>Part: <select name='part'>
        <option value="aTop">Top</option>
        <option value="cBottom">Bottom</option>
        <option value="bOuterwear">Outerwear</option>
        <option value="Accessory">Accessory</option>
        <option value="Shoes">Shoes</option>
      </select></div>
      <div>Image: <input type = "file" name = "image">
      <button>Upload Picture</button></div>
    </form>
  </body>
</html>
