<html>
  <head>
    <title>Upload Pictures</title>
    <link href="static/upload.css" rel="stylesheet">
  </head>
  <header>
    <a href= '/'><img src="static/title.png" alt="Logo Pic"></a></br>
    <a id="about" href= '/about'>About</a>
    <a href= '/custom'>My Closet</a>
    <a href= '/outfit'>My Outfits</a>
    <a href= '/upload'>Upload</a>
    <a href= '/calendar'>Reminders</a>

  </header>
  <body>
    <form name = "input" action = "/upload" method = "post" enctype="multipart/form-data">
      <div>Name: <input type = "text" name = "name"></div>
      <div>Color: <input type = "text" name = "color"></div>
      <select name='part'>
        <option value="Top">Top</option>
        <option value="Bottom">Bottom</option>
        <option value="Outerwear">Outerwear</option>
        <option value="Accessory">Accessory</option>
        <option value="Shoes">Shoes</option>
      </select>
      <div>Image: <input type = "file" name = "image">
      <button>Upload Picture</button></div>
    </form>
  </body>
</html>
