header{
  border-radius: 3%;
  height:250px;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  color: rgb(0,0,0);
}

#about{
  text-align: left;
  position: relative;
  margin-bottom: 30px;
}

a{
  text-decoration: none;
  color: rgb(0,0,0);
  margin-right: 75px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
  position: relative;
}

a:hover{
  text-decoration: underline;
}

img{
  margin-top: 45px;
  margin-bottom: 45px;
}

body{
  background: url(moustache.png);
  color: rgb(0,0,0);
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  text-align: center;
  padding:15px;
  /*margin-top: 30px;*/
}

section{
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 3%;
  padding-top: 20px;
  height:750px;
  background-color: rgba(255, 255, 255, 0.90);
}

h1{
  font-size: 40px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
}

h2{
  font-size: 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
}

div img{
  width:200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

p{
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  width:90%;
  line-height: 180%;
}

.column{
  width:33.33%;
  float:left;
}
