header{
  border-radius: 3%;
  height:250px;
  background-color: rgba(255, 255, 255, 0.85);
  text-align: center;
  color: rgb(0,0,0);
  margin:20px;
}

#about{
  text-align: left;
  position: relative;
  margin-bottom: 30px;
}

a{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  text-decoration: none;
  color: rgb(0,0,0);
  margin-right: 75px;
  font-size: 30px;
  position: relative;
}

a:hover{
  text-decoration: underline;
}

img{
  margin-top: 45px;
  margin-bottom: 45px;
}

h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  text-align: center;
  box-shadow: 1px 1px 1px #888888;
  text-align: center;
}

h2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  font-size: 55px;
  padding: 50px;
  text-align: bottom-left;
  margin: 10px
}

h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  font-size: 25px;
  text-align: center;
}

h4 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  font-size: 55px;
  padding:20px;
  margin:10px;
  }
h5 a{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  font-size: 25px;
  padding:10px;
  margin:20px;
  border: 1px black;
  border-style: solid;
  border-radius: 3%;
  background: rgba(255, 255, 255, 0.8);
}

h6 a{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  font-size: 20px;
  padding:10px;
  margin:10px;
  background: rgba(245, 245, 245, 0.8);
  }

body{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  background-image: url(pattern.jpg);
  text-decoration: none;
}

.outerwear, .accessory, .tops, .bottoms, .shoes {
  border-radius: 3%;
  box-shadow: 0px 1px 0px #888888;
  margin-bottom: 20px;
  padding:5px;
}

p{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  padding:5px;
  font-size: 35px;
  background-color: rgba(255, 255, 255, 0.8);
  clear:left;
}

section img{
  height:230px;
  width:180px;
  margin:30px;
  text-align: center;
}

#right{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 3%;
  padding-top: 20px;
  width:100%;
  height:800%;
  background-color: rgba(255, 255, 255, 0.95);
}

form{
  text-align: center;
}

#submit{
  width:250px;
  height:100px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-decoration: none;
  font-weight: 200;
  font-size: 30px;
  padding:0px;
  background-color: rgba(255, 255, 255, 1);
  margin-top: 30px;
  border-radius: 3%;
}

div{
  background-color: rgba(250, 250, 250, 0.8);
  border-radius: 3%;
  width: 230px;
  height: 350px;
  margin: 18px;
  float: left;
}

button{
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

button a{
  padding: 5px;
  font-size: 20px;
  margin-right: 0px;
}
