#home{
  background: url('sky2.gif');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

header img{
  margin-left: auto;
  margin-right: auto;
  margin-top: 175px;
  margin-bottom: 0px;
}

body{
  margin-left: auto;
  margin-right: auto;
  border-radius: 3%;
  color: rgb(0,0,0);
  font-size: 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  text-align: center;
  padding:15px;
  background-color: rgba(255, 255, 255, 0.5);
}

h2{
  font-size: 23px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  text-align: center;
  margin-bottom: 60px;
  color: rgb(10,10,10);
}

button{
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 30px;
  width:150px;
  height:150px;
  font-size: 23px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1em;
}

button:hover{
  background-color: rgba(255, 255, 255, 0.75);
}
