#home{
  background: url('sky2.gif');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

header img{
  margin-left: auto;
  margin-right: auto;
  margin-top: 175px;
  margin-bottom: 70px;
}

body{
  margin-left: auto;
  margin-right: auto;
  border-radius: 3%;
  color: rgb(0,0,0);
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  text-align: center;
  padding:15px;
  background-color: rgba(255, 255, 255, 0.5);
}

#about{
  /*position: relative;
  padding:30px;
  border-radius: 3%;
  width:50;
  height:50;
  background-color: rgba(255, 255, 255, 0.55);*/
}
