

body{
  background: url('sky2.gif');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
}

img{
  margin-top: 175px;
  margin-bottom: 70px;
}

section{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  padding:30px;
  border-radius: 3%;
  width:220px;
  height:280px;
  background-color: rgba(255, 255, 255, 0.55);
}

#door{
  margin-top: 20px;
  margin-bottom: 20px;
}
