header{
  border-radius: 3%;
  height:250px;
  background-color: rgba(255, 255, 255, 0.80);
  text-align: center;
  color: rgb(0,0,0);
  margin:20px;
}

#about{
  text-align: left;
  position: relative;
  margin-bottom: 30px;
}

a{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  text-decoration: none;
  color: rgb(0,0,0);
  margin-right: 75px;
  font-size: 30px;
  position: relative;
}

a:hover{
  text-decoration: underline;
}

img{
  margin-top: 45px;
  margin-bottom: 45px;
}

body {
  background-image: url(curve.png);
  background-size: contain;
}

strong{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.70);
  margin: 1375px;
  padding: 20px;
  border: 40px;
}
#edit{
    background-color: rgba(255, 255, 255, 0.75);
    margin: 630px;
    text-align: center bottom;
    font-size: 35px;
<<<<<<< HEAD
=======
    xpos: bottom:
>>>>>>> 79c37b1a2ce5aff6784fb8771bd3901aeb152570
}
